# GraphQL Server URL
VITE_GRAPHQL_URL=http://localhost:4000/graphql

# Sentry Configuration
VITE_SENTRY_DSN=
VITE_SENTRY_TRACES_SAMPLE_RATE=1.0
VITE_ENVIRONMENT=development
VITE_SENTRY_TRACE_PROPAGATION_TARGETS=localhost,movie-thresh-server.vercel.app

# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
